<!DOCTYPE html>     <!-- This is used to declare this is a HTML5 file--> 

<html lang="en">
    <head>
        <!-- Define meta elements: contents for explorer engine, and some http-equiv attributes-->
        <meta charset="utf-8">                                      <!-- content-Type -->
        <meta name = "Testbed-NTU", content = "Database, monitoring, real-time, Xnode-sensor">       
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />    <!-- X-UA-Compatible render for chrome-->
        <meta http-equiv="x-ua-compatible" content="ie=edge">       <!-- X-UA-Compatible render for edge -->
        <link rel="stylesheet" type="text/css" href="../static/Web_application.css" />
        <title> Testbed - NTU | Welcome </title>
        {%favicon%}
        {%css%}

    </head>

    <body>
        <div class="navigation-bar">
            <h1 style="color: #e8da84;; font-size:80px; display: inline; position: relative; bottom: -10px;
                padding-left: 20px;"> Smart Sensor Testbed  </h1> 
            <ul>
                <li style="padding-left: 750px;"><a href= "/Home">Home</a>    </li>
                <li><a href= "/About">About</a>    </li>
                <li><a href= "/System">System</a>  </li>
                <li><a href= "/Login">Login</a>    </li>
            </ul>
        </div>        
        <div class="system-model"> 
            <div class="sensor-data">
                <a href="/System/Xnode_Sensor" ><b>Xnode Sensor</b></a>
                <a href="/System/FBG_Sensor" > <b> FBG Sensor </b></a>
                <a href="/System/dash" > <b> FBG Sensor </b></a>
            </div>
        </div>  
        <footer>
        </footer>       
    </body>
</html>
