<html lang="en">
    <head>
        <!-- Define meta elements: contents for explorer engine, and some http-equiv attributes-->
        <meta charset="utf-8">                                      <!-- content-Type -->
        <meta name = "Testbed-NTU", content = "Database, monitoring, real-time, Xnode-sensor">
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />    <!-- X-UA-Compatible render for chrome-->
        <meta http-equiv="x-ua-compatible" content="ie=edge">       <!-- X-UA-Compatible render for edge -->
        <link rel="stylesheet" type="text/css" href="../static/Web_application.css" />
        <title> Digital Construction - NTU | Welcome | Welcome </title>
    </head>

    <body>
        <div class="navigation-bar">
            <img src="../static/ntu-placeholder-d.png" style="width: 300px; height: auto;
            position: relative; top: 20px; right: 980px;">

            <h1 style="color: #f4f4f4; font-size: 46px; position: relative; left:340px; bottom: 0px;
                margin: 0px;padding: 0px;float: left;"> 
                    Digital Construction and Intelligent Infrastructure </h1>
            <h3 style="width:700px; position: relative; bottom: 73px; left:340px;color: #d71440; font-size: 27px;">
                <i>Making built environment sustainable & resilient</i></h3>
        
            <ul style="position: relative; bottom: 50px">
                <li style="position: absolute; bottom: 12px; left:900px;">
                    <a href= "/Home">Home</a>    </li>
                <li style="position: absolute; bottom: 12px; left:1000px;">
                    <a href= "/About">About</a>   </li>
                <li style="position: absolute; bottom: 12px; left:1110px;">
                    <a href= "/System">System</a> </li>
                <li style="position: absolute; bottom: 12px; left:1230px;">
                    <a href= "/Login">Login</a>   </li>
            </ul>

        </div>
    </body>
</html>